html body a {
  color: #e32e21;
}

html body a:hover {
  color: #222;
}

.brand-text {
  color: #888;
}

.content-header-title {
  border-right: none !important;
}

.form-control:focus {
  border-color: #e32e21;
}

.loader-primary div {
  background-color: #e32e21 !important;
}

.loader-container {
  text-align: center;
}
